<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/src/app/preguntas/preguntas.component.css">
  <title>Test</title>
</head>
<body>
  <main>
    <div class="contenido">
      <div class="pregunta1" id="pregunta1">
        <form action="" id="formulario">
            <legend><span id="preguntaTexto"></span></legend>
              <br>
              <br>
            <input type="radio" id="nunca" name="opcion" value="nunca" required/>
            <label for="nunca">Nunca</label>
              <br>
              <br>
            <input type="radio" id="ocasional" name="opcion" value="ocasional" required/>
            <label for="ocasional">Ocasionalmente</label>
              <br>
              <br>
            <input type="radio" id="general" name="opcion" value="general" required/>
            <label for="general">Generalmente</label>
              <br>
              <br>
            <input type="radio" id="siempre" name="opcion" value="siempre" required/>
            <label for="siempre">Siempre</label>
              <br>
              <br>
        </form>
        <button id="siguiente" onclick="siguiente()">Siguiente</button>
        <button id="enviar" onclick="enviar()">Enviar</button>
      </div>
    </div>
  </main>
</body>
<script src="/src/app/preguntas/preguntas.component.ts"></script>
</html>
