<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="./nav-home.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="left">
            <h1>Dr. Luzio</h1>
        </div>
        <div class="right">
            <input type="checkbox" id="check">
            <label for="check" class="checkBtn">
                <i class="fa fa-bars"></i>
            </label>
            <ul class="list">
                <li>
                  <a href="/tarea">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAATxJREFUOE+9lMFxgzAQRb/MgStXAYdQQSghVJB0kLgDp4OkgpQQd5B0EDqIUwGTGWa5+qoLm1kGMTKWsOPJZE9iEW+/dr9Q+MNQ57CI6M4YUxdFsV/afxJGRFsA9wDqNE2ri2FEtAHwYgHMvM2ybB0CBpV1XffAzK/zD5eAXpj0CMBbUIFSa621HP8gjmBt25ar1eoDQLLYHw/wAHYuyBZRSlVa63p6toumaZI4jj8BXDmKvgGIHa4BfI15WdvY931f5Xm+k8SgbATJ0UoXZIwpxVtd191YBUT0DuDWBxxgvoarQJMFzMxSeApmfs6y7GnqmfQriqLE2eg1qWNigT0qpXZW9dE0iYhDJp17LzgAC3BhkrMm9Zn417CxiEzLHc6QvhTm9e+/wzbMvHiVrEyxgyv55P9s6X7O3/0Ayb2mFJ3eo5wAAAAASUVORK5CYII="/>
                  </a>
                </li>
                <li>
                  <a href="/perfil">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAapJREFUOE+tlN1RFEEUhb8TgRqBEgGaAUQgRiBEgEbgEoEYgWsESATCg8/KOw+SwRrBtb61e6tnHKSssqu2tma677nn5/aE/7jyEFZVPQeeApsk1387vwhWVc+A98DRQvF34CSJ/5P1B1hVvQHeAY+BT4BF/mwgy2PgEbBKcjaiTcAakIxuLOrdq+pAwCSbqrLJGngJfEhi8+3agTVp34C7JDKgqix6PXS/Al410L53mMT3E7DPgAwOZFRVyvkIaLqHlSnwlk1jqPxKsjcHKz1KIoisVs27vSQ/2rtNk2tTzyhRW15IYCuzxa/Et0nO/wFM0C8t3XUHcwQugJ3+QaYSu0xZT0yvKhWdJVl1sEmHbvhCAPp3ZAAzRRMw01PmpGsrsNE+cAt87UBtr4fkEP+W2TZMxmuj4c6T3p0u3ICrJIdDjY2eWDOCdd8cEeWY0iXgs2k6rJ5xPJyxu5b2Ts38BoxDetOHd2Q389Gb4lxuPVy6mx1QNs7a5WC4zJSujxOgRbDBWIH0cL5+AueOwnzj3u9Zuy6m1b8WMjWk9ZjoCPjgx3GB2b2vfgH1ad0U/nphtgAAAABJRU5ErkJggg=="/>
                  </a>
                </li>
                <li>
                  <a href="/comentarios">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAXtJREFUOE+tlDFy02AUhL89AdwAKFITCuokVUp8BFNRYoYDYGbSJwxNOhwuAJR0HCAzmBPgG2CfYJnVPGtk2ZEdhtdIv/5fq337diX+Y2kIy/Zj4BFwDMyBlaRcd9YWmO2HwGtgDASsX0tgBryXlPu2NsBsh8GXAvkFfAV+dM5nfwScAAF6KSlnmmrBqqWf9WzcPdSnZvsUuAKeAmeSmg92wfIgX3w2pMsauORYAH8kPWnBitVv4IOkSTZsHwFv07ak7/11nYmun6rdWcPMdnSIVi1l29fAK+BW0vP+usPQNYzpENg5cAF8lvTR9sZ6CCxTivhtm4d42fZ2m9XqvwwgOsfIjR+70wy7AEaDiaSbu9iVNS4rGdvWKHYBjAkToYw9Bxdl5gf1coYVn62Skp2m7bKwHcAXASvHJ17rCkjiNB2MU2dCU+BdRSZZ/VaOX94r6NXuGizLN5ISnb218xdkO2AZ++iQaG0FvadZBJ73NdlHbfDnuO/l/v5fB5GwFGFdktgAAAAASUVORK5CYII="/>
                  </a>
                </li>
                <li>
                  <a href="/isesion">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAASZJREFUOE+9lFFVA1EMRO8oQALggCqgEnAAOAAFbRVAFVAHgALAQXGAhKIgnOl5u+y+pvR99JC/3U0mk5lkxRFDR8TiT7CImAKXg4ZrSa/7CKRgEXEFPABnSeEGmEta1t92wCLiBnhqGH8l6XaYNwIrjJ4bgLqUhaR591CDfQGnwDewrvTKenjkiSTX/RpQxH4DPgGPat1mDSzvJT3WYKZ7YSBJm6KdQesYuutvH5Ls+piZpPdDTCIiqpwUzMxC0sLJyY51GL3g5UUKZo3s5Atgy+8aNesdrd20OyfFSTvkBofifMfNMprZePNbYynJNdvILmAFXDegeYWmdn4vWGFokd3RI2fhu/R99kAps64yInzk1myom1fHN7nd+Dr+73/WoNso5QerFWYUcAzAkwAAAABJRU5ErkJggg=="/>
                  </a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>
